# List and it's default functions

In [1]:
# Creating a list of numbers and alphabets

In [2]:
lst = [1, 2, "a", "e", "i", 3, 4, "0", 5]

In [4]:
lst

[1, 2, 'a', 'e', 'i', 3, 4, '0', 5]

In [6]:
lst.append("u")

In [8]:
lst

[1, 2, 'a', 'e', 'i', 3, 4, '0', 5, 'u', 'u']

In [10]:
lst.copy()

[1, 2, 'a', 'e', 'i', 3, 4, '0', 5, 'u', 'u']

In [11]:
lst.remove("u")

In [13]:
lst

[1, 2, 'a', 'e', 'i', 3, 4, '0', 5, 'u']

In [17]:
lst.insert(6, 6)

In [18]:
lst

[1, 2, 'a', 'e', 'i', 3, 6, 6, 4, '0', 5, 'u']

In [20]:
lst

[1, 2, 'a', 'e', 'i', 3, 6, 6, 4, '0', 5, 'u']

In [23]:
lst.index(2)

1

In [24]:
lst

[1, 2, 'a', 'e', 'i', 3, 6, 6, 4, '0', 5, 'u']

# Dictionary and it's default functions

In [25]:
# Creating a dictionary of details

In [26]:
my_dict = {'name': 'sharayu', 'age': 21, 'blood group': 'o positive'}

In [27]:
my_dict['age']

21

In [28]:
my_dict['name']

'sharayu'

In [29]:
my_dict['address'] = 'pune'

In [31]:
my_dict

{'name': 'sharayu', 'age': 21, 'blood group': 'o positive', 'address': 'pune'}

In [32]:
my_dict.copy()

{'name': 'sharayu', 'age': 21, 'blood group': 'o positive', 'address': 'pune'}

In [35]:
my_dict.clear()

In [40]:
my_dict

{}

In [41]:
my_dict.keys()

dict_keys([])

In [43]:
my_dict

{}

# Sets and it's default functions

In [44]:
# Set of an integer

In [46]:
my_set = {1, 2, 3, 4, 5}

In [48]:
my_set

{1, 2, 3, 4, 5}

In [50]:
my_set.pop()

2

In [52]:
my_set.copy()

{3, 4, 5}

In [56]:
my_set

{3, 4, 5}

In [58]:
my_set.clear()

In [60]:
my_set

set()

In [64]:
my_set.add(4)

In [66]:
my_set

{4}

In [70]:
my_set1 = {4, 5}
my_set2 = {4, 1, 2, 3}

In [72]:
my_set.difference()

{4}

# Tuple and it's default methods

In [73]:
# Creating elements for tuple

In [74]:
my_tuple = ('a', 'e', 'i', 'o', 'u')

In [76]:
my_tuple

('a', 'e', 'i', 'o', 'u')

In [78]:
my_tuple[1:3]

('e', 'i')

In [80]:
my_tuple[-1]

'u'

In [95]:
my_tuple = (1, 2, 3, 4, 5, 6)

In [97]:
my_tuple

(1, 2, 3, 4, 5, 6)

In [99]:
2 in my_tuple

True

In [101]:
my_tuple[-1]

6

In [105]:
del my_tuple

NameError: name 'my_tuple' is not defined

# String and it's default functions

In [106]:
# Creating a string

In [109]:
str = 'ANACONDA'

In [111]:
str

'ANACONDA'

In [113]:
str[0]

'A'

In [115]:
str[-2]

'D'

In [117]:
str[2: -2]

'ACON'

In [118]:
str1 = 'Hello'
str2 = 'kitty'

In [119]:
str1  + " " + str2

'Hello kitty'